* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
}

.container {
  width: 100%;
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  padding: 0 10px;
}

.calendar {
  max-width: 450px;
  margin: 0 auto;
  background-color: #222227;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  color: white;
}

.month {
  width: 100%;
  height: 12rem;
  background-color: #167e56;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  flex-wrap: wrap;
  padding: 0.2rem;
  font-family: sans-serif;
}

.days .day,
.days .next-date {
  font-size: 16px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.days .day {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

.days .day.hovered {
  border-color: white;
}

.days .day:not(.today) {
  cursor: pointer;
}

.days .day:hover:not(.today) {
  background-color: #262626;
  border-color: white;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #167e56;
}
.card__task {
  font-size: 17px;
  border-radius: 2px solid white;
  background-color: #222227;
  /* box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4); */
  color: #167e56;
  padding: 14px;
  display: inline-block;
}
